.heroContainer {
  padding: 4rem;
  margin-bottom:  4rem;
  position: relative;
}

.cake {
  position: absolute;
  right: 20%;
  top: 15%;
  opacity: 0.2;
  width: 100px;
  max-width: 100%;
  transform: scale(2) rotate(10deg);
}

.heroWrap {
  position: relative;
}

.heroWrap::before {
  content: "";
  width: 3px;
  height: 180%;
  background-image: linear-gradient(
    to bottom,
    white,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  left: -1rem;
  top: 0;
}

.myName {
  font-size: 4em;
  margin-bottom: 1rem;
  position: relative;
}

.myName::before {
  content: "";
  width: 12px;
  background-color: white;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -1.3rem;
}

.heroWrap p {
  font-size: 1.5em;
}

.signatureHolder {
	margin-top: 5rem;
	text-align: center;
}

.signatureHolder img {
	width: 50%;
	background-color: white;
}
