.contactWrapper {
  display: flex;
  gap: 5rem;
  margin-bottom: 10rem;
}

.formContainer {
  flex: 5;
  background-color: var(--secondaryBackground-color);
  padding: 2rem;
  box-shadow: 0 0 3px white;
}

.canvasContainer {
  flex: 4;
}

