.navbarMain {
  padding: 2rem 0;
  background-color: black;
}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulList {
  display: flex;
}

.ulList li {
  margin-right: 2rem;
}
