.navbarMain {
  padding: 1rem ;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 10;
}

.imgCover {
	width: 96px;
}

.imgCover img {
	border-radius: 50%;
	object-fit: cover;
	width: 100%;

}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulList {
  display: flex;
}

.ulList li {
  margin-left: 3rem;
}

.ulList li button {
	cursor: pointer;
	font-size: 18px;
	transition: .3s ease-in-out;
	/* padding:0 5px 5px; */
	border-bottom: 1px solid transparent;
}

.ulList li button:hover {
	scale: 1.1;
	border-bottom-color: white;
}
