.navbarMain {
  padding: 1rem ;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}

.navbarFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulList {
  display: flex;
}

.ulList li {
  margin-left: 4rem;
}
