* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #94230b;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 15px 8px;
  font-size: 1rem;
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  color: var(--oppositeMain-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  letter-spacing: 1.1px;
}
