:root {
  --mainBackground-color: #493000;
  --secondaryBackground-color: #004646;
  --secondaryTransparent-color: #015353;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light dark;
  box-sizing: border-box;
  letter-spacing: 1.3px;
  line-height: 1.6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--mainBackground-color);
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

button {
	background-color: transparent;
	border: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.secondaryContainer {
  max-width: 1200px;
  padding: 4rem 0;
  margin: 4rem auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.btn {
  padding: 15px 8px;
  font-size: 1.3rem;
  background-color: pink;
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  letter-spacing: 1.1px;
}

.sectionFirstHeader {
  color: #a4a0bd;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.sectionSecondHeader {
  font-size: 4.2rem;
  margin: 0.7rem 0;
  text-transform: capitalize;
}
